$white: #fff;
$black: #000;
$pink-header-ef797c: #ef797c;
$pink-header-f5c7c7: #f5c7c7;
$blur-header-4fdbff: #4fdbff;
$bg-progress-bar: #005f8c;
$border-progress-bar: #00f0ff;
$bg-progress-bar-active: #fef785;
$bg-frame-gift-pined-active: #f45366;
$pink-f9a8b1: #f9a8b1;
$pink-ff4d61: #ff4d61;
