$white: #fff;
$black: #000;
$bg-header-color: #c2fcfb;
$bg-header-mobile-color: #ff9ab7;
$text-header-color: #58000c;
$border-text-header-active: #6b5b16;
$border-text-header-active: #922a92;
$pink-fff5f3: #fff5f3;
$pink-f36089: #f36089;
$sub-menu-hover-color: #ba4b33
